<div class="<% settings.ui.container_class %>">
	<div class="row">
		<div class="h1 col-xs-12">Resource Not Found</div>
	</div>
	<div class="alert alert-info" role="alert">
		<div class="h4"><% title %></div>
		<p><% content %></p>
	</div>
</div>
<% INCLUDE 'scenarios.tt' %>
