<div class="<% settings.ui.container_class %>">
	<div class="row">
	<form  method="POST" enctype="multipart/form-data">
		<div class="row">
			<div class="col-xs-12 col-sm-5">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label" for="selAreaMap">Building</label>
							<select class="form-control" id="selAreaMap" name="building">
								<option value="">-- SELECT BUILDING --</option>
							<% FOR b IN settings.ui.buildings %>
								<option value="<% b %>"<% IF b == a.building %> selected="selected"<% END %>><% b %></option>
							<% END %>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label" for="txtArea">Area</label>
							<input type="text" class="form-control" placeholder="" id="txtArea" name="area" value="<% a.area %>">
							<span class="help-block">What floor within the building (e.g. "Floor 1")</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label">Choose AreaMap Image</label>
							<input type="file" id="areaMapImage" name="areamap_image">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group-sm">
							<% INCLUDE 'form_buttons.tt' list_title="Area Maps" list_slug="/areamaps" %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-7">
				<div class="row">
					<div class="col-xs-12 h3">Current Area Map</div>
				</div>
				<div class="row">
					<div class="col-xs-12 img-responsive" id="areaMapImageDisplay">
						<% IF a.image %>
						<a href="<% request.uri_base %>/images/media/<% a.image %>" data-lightbox="<% a.area %>" data-title="<% a.building %> / <% a.area %>"><img class="media-object" src="<% request.uri_base %>/images/media/<% a.image %>" alt="<% a.area %>"/></a>
						<div class="help-block text-center"><em>Click to enlarge</em></div>
						<% ELSE %>
						<img class="media-object" src="<% settings.ui.placeholder_image %>"/>
						<% END %>
						<% IF a.image %>
						<div>
							<button class="btn btn-sm btn-info" id="btnRemoveImage">Remove Image</button>
							<input type="hidden" id="areaMapImageRemoved" name="areamap_image_removed" value="0" />
						</div>
						<% END %>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-xs-12">
			<p>Below are known uses of this Area Map.</p>
			<% INCLUDE 'known_locations.tt' entity=a %>
		</div>
	</div>
</div>
