<div class="<% settings.ui.container_class %>">
	<form class="form-horizontal" method="POST">
		<% IF !vars.id %>
		<p class="bg-warning"><div class="text-warning">Before creating a new Location Map for a Call Number or Collection, please make sure one doesn't already exist.</div></p>
		<% END %>
		<% INCLUDE 'locationmap_primary.tt' %>

        <%# This section will only display if the end-user has initiated a 'split call number range' action %>
		<% IF split_locationmap %>
		<hr />
		<% INCLUDE 'locationmap_secondary.tt' %>
		<% END %>
		<% INCLUDE 'form_buttons.tt' list_title="Locations" list_slug="/locationmaps" %>		
	</form>
</div>
