body {
	padding-top: 50px;
}

footer {
  padding-top: 1em;
}

.form-buttons {
  margin-top: 1em;
  border-top: 3px solid #ddd;
  padding-top: 1em;
}

.context-buttons {
  margin-bottom: 0.5em;
}

.dropzone {
  padding: 0 !important;
  border: none !important;
}

.dz-drag-hover {
  border: 2px solid blue !important;
}